[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytusk = {file = ".", editable = true}
pysui-fastcrypto = {path = "../../frankc01/pysui-fastcrypto/target/wheels/pysui_fastcrypto-0.7.6-cp310-abi3-macosx_11_0_arm64.whl"}
pysui = {path = "../../frankc01/pysui/dist/pysui-1.4.0-py3-none-any.whl"}

[dev-packages]
setuptools-scm = "*"
twine = "*"
build = "*"
pytest = "*"
pytest-asyncio = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
