[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysui = "*"
pytusk = {file = ".", editable = true}

[dev-packages]
setuptools-scm = "*"
twine = "*"
build = "*"
pytest = "*"
pytest-asyncio = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
